{% extends 'base.html.twig' %}
{% block title 'DataCheckBox' %}
{% block body %}
<h1></h1>

{#<div class="card" style="width: 18rem;">#}

{#    <div class="card-body">#}
{#        <h5 class="card-title">Card title</h5>#}
{#        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>#}
{#        <a href="#" class="btn btn-primary">Go somewhere</a>#}
{#    </div>#}
{#</div>#}

<div class="card" style="width: 18rem;">
    <table class="table">
            <form method="POST" action="{{ path('datacheckbox.edit') }}">
                <thead>
                    <tr>
                        <th>A</th>
                    </tr>
                </thead>
                <tbody> {% for temps in tempss %}
                    <tr>
                        <td><input type="checkbox" name="check_list[]" value="{{ temps.tempsPrelevement }}"><label>{{ temps.tempsPrelevement }}</label><br/></td>
                    </tr>{% endfor %}
                </tbody>
                    <input type="submit" name="submit" value="Submit"/>
                        <?php include 'checkbox_value.php';?>
            </form>
    </table>
</div>
    <div class="container d-flex mt-5" >
        <div class="row d-md-">
            <div class="column">
                <div class="portlet">
                    <div class="portlet-header">Ajouter un temps</div>
                    <div class="portlet-content">{{ include ('prelevement/_form.html.twig', {button:'créer'}) }}</div>
                </div>
            </div>
            <div class="col md-8">
                <button class="btn btn-light mr-1">Tout</button>
                <button class="btn btn-light mr-1">Aucun</button>
                <a href="#" class="btn btn-primary mr-1">Suivant</a>
            </div>
        </div>
    </div>
{% endblock %}

